*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
/* hero section */
.hero {
    color: white;
    
    background-color:  #1F2937;

    display: flex;
    flex-direction: column;
    padding: 0 200px;
}

/* header section */
.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.header .logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 28px;
    list-style-type: none;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* hero-content section */
.hero-content {
    display: flex;
    gap: 32px;
    margin: 90px 0;
}
.hero-content .text h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-content .text p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content .text button {
    border: 0;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 32px;
    margin: 12px 0;
}

.hero-content .image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: 580px;
}

/* information section */
.information .title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 42px 0;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 90px;
}
.card .image {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    margin-bottom: 5px;
}

.card .subtext {
    color: #1F2937;
    width: 150px;
    text-align: center;
}

/* quote section */
.citation {
    color: #1F2937;
    background-color: #E5E7EB;
    padding: 100px  275px;
}
.citation .text {
    
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-left: 15px;
}
.citation .author {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: flex-end;
}
/* call to action section */
.call-to-action {
    display: flex;
    justify-content: center;
    padding: 84px 0;
}

.call-to-action .container {
    width: 990px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 42px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .text h2 {
    color: #F9FAF8;
}

.container .text p {
    color: #E5E7EB;
}

.container button {
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 32px;
    margin: 12px 0;
}

/* footer section */
footer {
    color: #E5E7EB;
    background-color: #1F2937;
    height: 100px;
    display: flex;
}

footer .text {
    margin: auto;
}